@inject ShopWeb_Project.Repository.IloaiSpRepository LoaiSpRepo
@inject ShopWeb_Project.Models.ShopWebDbContext Db
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cửa hàng tiện ích</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../LayoutOgani/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="../LayoutOgani/img/logo_1.jpg" alt=""></a>
        </div>
        
        <div class="humberger__menu__widget">
            <div class="header__top__right__auth">
                @* <a href="#"><i class="fa fa-user"></i> Login</a> *@
                <a asp-controller="Access" asp-action="Logout"><i class="fa fa-user"></i> Logout</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__language">
                                @if (Context.Session.GetString("UserName") != null)
                                {
                                    <div class="User__info">
                                        <div>Options</div>
                                        <span></span>
                                        <ul>
                                            <li><a href="#" onclick="openUserInfoModal()">User info</a></li>
                                            <li><a href="#">More</a></li>
                                        </ul>
                                    </div>
                                }
                            </div>
                            <div class="header__top__right__auth">
                                @* <a href="#"><i class="fa fa-user"></i> Login</a> *@
                                @if (Context.Session.GetString("UserName") == null)
                                {
                                    <a asp-controller="Access" asp-action="Login"><i class="fa fa-user"></i> LOGIN</a>
                                }
                                else
                                {
                                    <a asp-controller="Access" asp-action="Logout"><i class="fa fa-user"></i> LOGOUT</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="../LayoutOgani/img/logo_1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a href="./shop-grid.html">Shop</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                       
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("LoaiSpMenu")
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-controller="Home" asp-action="Index" method="get">
                                
                                <input type="text" name="search" value="@(Context.Request.Query["search"])" placeholder="What do you need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    
                    <div id="displayProducts" class="row featured__filter">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    
    <!-- Categories Section End -->
    <!-- Featured Section Begin -->
   
    <!-- Featured Section End -->
    <!-- Blog Section Begin -->
    
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="../LayoutOgani/img/logo_1.jpg" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="../LayoutOgani/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../LayoutOgani/js/jquery-3.3.1.min.js"></script>
    <script src="../LayoutOgani/js/bootstrap.min.js"></script>
    <script src="../LayoutOgani/js/jquery.nice-select.min.js"></script>
    <script src="../LayoutOgani/js/jquery-ui.min.js"></script>
    <script src="../LayoutOgani/js/jquery.slicknav.js"></script>
    <script src="../LayoutOgani/js/mixitup.min.js"></script>
    <script src="../LayoutOgani/js/owl.carousel.min.js"></script>
    <script src="../LayoutOgani/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
    <!-- Validation Scripts -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- User Info Modal -->
    <div id="userInfoModal" class="modal" style="display: none;">
        <div class="modal-content" style="background: white; margin: 5% auto; padding: 20px; border: 1px solid #888; width: 80%; max-width: 600px; border-radius: 8px;">
            <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
                <h3 style="margin: 0;">Thông tin khách hàng</h3>
                <span class="close" onclick="closeUserInfoModal()" style="color: #aaa; font-size: 28px; font-weight: bold; cursor: pointer;">&times;</span>
            </div>
            
            <form id="userInfoForm" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mã khách hàng</label>
                            <input class="form-control" id="MaKhanhHang" readonly style="background-color: #f5f5f5;" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <input class="form-control" id="Username" readonly style="background-color: #f5f5f5;" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tên khách hàng <span style="color: red;">*</span></label>
                            <input class="form-control" id="TenKhachHang" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ngày sinh</label>
                            <input class="form-control" id="NgaySinh" type="date" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input class="form-control" id="SoDienThoai" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Loại khách hàng</label>
                            <select class="form-control" id="LoaiKhachHang">
                                <option value="">-- Chọn loại khách hàng --</option>
                                <option value="1">Khách hàng thường</option>
                                <option value="2">Khách hàng VIP</option>
                                <option value="3">Khách hàng doanh nghiệp</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <textarea class="form-control" id="DiaChi" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <textarea class="form-control" id="GhiChu" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer" style="margin-top: 20px; text-align: right;">
                    <button type="button" class="btn btn-secondary" onclick="closeUserInfoModal()" style="margin-right: 10px;">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        // Modal functions
        function openUserInfoModal() {
            document.getElementById('userInfoModal').style.display = 'block';
            loadUserInfo();
        }

        function closeUserInfoModal() {
            document.getElementById('userInfoModal').style.display = 'none';
        }

        // Load user info
        function loadUserInfo() {
            fetch('/User/GetUserInfo')
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('MaKhanhHang').value = data.data.maKhanhHang || '';
                        document.getElementById('Username').value = data.data.username || '';
                        document.getElementById('TenKhachHang').value = data.data.tenKhachHang || '';
                        document.getElementById('NgaySinh').value = data.data.ngaySinh || '';
                        document.getElementById('SoDienThoai').value = data.data.soDienThoai || '';
                        document.getElementById('LoaiKhachHang').value = data.data.loaiKhachHang || '';
                        document.getElementById('DiaChi').value = data.data.diaChi || '';
                        document.getElementById('GhiChu').value = data.data.ghiChu || '';
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // Save user info
        document.getElementById('userInfoForm').addEventListener('submit', function(e) {
            e.preventDefault();
            
            const formData = new FormData();
            formData.append('TenKhachHang', document.getElementById('TenKhachHang').value);
            formData.append('NgaySinh', document.getElementById('NgaySinh').value);
            formData.append('SoDienThoai', document.getElementById('SoDienThoai').value);
            formData.append('LoaiKhachHang', document.getElementById('LoaiKhachHang').value);
            formData.append('DiaChi', document.getElementById('DiaChi').value);
            formData.append('GhiChu', document.getElementById('GhiChu').value);

            fetch('/User/SaveUserInfo', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Cập nhật thông tin thành công!');
                    closeUserInfoModal();
                } else {
                    alert('Có lỗi xảy ra: ' + (data.message || 'Không xác định'));
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Có lỗi xảy ra khi lưu thông tin');
            });
        });

        // Close modal when clicking outside
        window.onclick = function(event) {
            const modal = document.getElementById('userInfoModal');
            if (event.target == modal) {
                closeUserInfoModal();
            }
        }
    </script>

    <style>
        .modal {
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }
        .modal-content {
            animation: modalSlideIn 0.3s ease-out;
        }
        @keyframes modalSlideIn {
            from { transform: translateY(-50px); opacity: 0; }
            to { transform: translateY(0); opacity: 1; }
        }
    </style>





</body>

</html>